@import "../../theme/util";
@import "../../theme/color";
.mg-table{
  box-sizing:border-box;
  position: relative;
  overflow:hidden;
  background-color: #fff;
  border:1px solid $borderColor;
  div,header{
    box-sizing:border-box;
  }
  .mg-table-cell{
    float:left;
    padding-left:8px;
    min-height: 1px;
    white-space: nowrap;
  }
  .mg-table-row{
    min-height:30px;
    padding:4px 0;
  }
  .mg-table-header{
    position: relative;
    width: 100%;
    background-color: #fafafa;
    font-weight: bold;
    .mg-header-content{
      position: relative;
    }
  }
  .mg-table-body{
    width:100%;
    overflow:auto;
    .mg-body-content{
      min-height:2px;
    }
  }
}